#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gridbox {
    display: inline-block;
    height: 80px;
    width: 80px;
    background: #f5f4ef;
    border: 2px #ddd solid;
    background-size: cover;

}